.*~
~*
\#*
*#
*\.swp
# Ignore Vim plugins
vim/plugins/
vim/.netrwhist
# !vim/UltiSnips
# !vim/colors

# nvim
config/nvim/*
!config/nvim/init.vim
!config/nvim/colors
!config/nvim/autoload

# ignore network security file from marmalade
network-security.data

*.log
emacs.d
