.*~
~*
\#*
*#
*\.swp
# Ignore Vim plugins
dots/vim/plugins/
dots/vim/plugged/
dots/vim/.netrwhist
dots/!vim/UltiSnips
dots/!vim/colors
dots/vim/vim
dots/vim/pack
dots/vim/autoload/plug.vim.old
dots/vim/undodir

# nvim
config/nvim/*
!config/nvim/init.vim
!config/nvim/colors
!config/nvim/autoload

# ignore network security file from marmalade
network-security.data

*.log
dots/emacs.d/straight/
dots/emacs.d/transient/
