snippet gtc
${VISUAL}${1} - An Nguyen - `date +%Y-%m-%d` - `git rev-parse --abbrev-ref HEAD`
endsnippet

snippet cgtc
`git rev-parse --abbrev-ref HEAD` - ${1:ticket description}
`date +%Y-%m-%d` - An Nguyen
${VISUAL}

FILES ADDED
	${3:/src/gtc/html/current/jscript/mapping/reports/pathreport.js}
FILES DELETED
	${4:/src/gtc/html/current/jscript/mapping/reports/pathreport.js}
FILES AFFECTED
	${5:/src/gtc/html/current/jscript/mapping/reports/pathreport.js}

endsnippet
