snippet gtc
${VISUAL}${1} - An Nguyen - `date +%Y-%m-%d` - `git rev-parse --abbrev-ref HEAD`
endsnippet

snippet cgtc
`git rev-parse --abbrev-ref HEAD` - ${1:ticket description}
`date +%Y-%m-%d` - An Nguyen
${2:description}

${3:file changes}

endsnippet
